<div class="modal" id="{{id_modal}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Titulo Modal</h5>
      </div>
      <div class="modal-body">
        <form id="formProductos" accept-charset="utf-8" class="form-singin">
          <div class="row">            
            <div class="col-sm-12">
              <label for="nameProduct" class="form-label">Nombre</label>
              <input type="text" id="nameProduct" name="nameProduct" class="form-control">
            </div>
            <div class="col-sm-12">
              <label for="description" class="form-label">Descripción</label>
              <input type="text" id="description" name="description" class="form-control">
            </div>
            <div class="col-sm-12">
              <label for="description" class="form-label">Imagen</label>
              <input type="text" id="image" name="image" class="form-control">
            </div>
            <div class="col-sm-12">
              <label for="det1" class="form-label">Det 1</label>
              <input type="text" id="det1" name="det1" class="form-control">
            </div>
            <div class="col-sm-12">
              <label for="det2" class="form-label">Det 2</label>
              <input type="text" id="det2" name="det2" class="form-control">
            </div>
            <div class="col-sm-12">
              <label for="det3" class="form-label">Det 3</label>
              <input type="text" id="det3" name="det3" class="form-control">
            </div>
            <div class="col-sm-4">
              <label for="value" class="form-label">Valor</label>
              <input type="number" id="value" name="value" class="form-control">
            </div>
            <div class="col-sm-4">
              <label for="discount" class="form-label">Descuento</label>
              <input type="number" id="discount" name="discount" class="form-control">
            </div>
            <div class="col-sm-4">
              <label for="stock" class="form-label">Stock</label>
              <input type="number" id="stock" name="stock" class="form-control">
            </div>
            <div class="col-sm-12 mt-4">
              <button type="submit" class="btn btn-success">Guardar</button>
            </div>                
          </div>
          <input type="hidden" name="sku" id="sku" value="">
        </form>
      </div>      
    </div>
  </div>
</div>