<div class="container p-4">
  <form action="">
    <div class="row">
      <div class="col-sm-12">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" id="nombre" name="nombre" class="form-control">
      </div>
      <div class="col-sm-12">
        <label for="nombre" class="form-label">Correo</label>
        <input type="text" id="mail" name="mail" class="form-control">
      </div>
      <div class="col-sm-12">
        <label for="nombre" class="form-label">Consulta</label>
        <textarea name="consulta" id="consulta" cols="30" rows="10" class="form-control"></textarea>
      </div>
      <div class="col-sm-12 mt-2">
        <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
      </div>
    </div>
  </form>
</div>