<main class="container mb-4" style="display: flex;justify-content: center;">
  <section id="login">
    <h1 class="text-center my-5">Login de usuario</h1>

    <section>
      <form id="form-login">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" name="name" id="login-name" class="form-control my-1">
        <label for="password" class="form-label">password</label>
        <input type="password" name="password" id="login-password" class="form-control my-1">
        <button type="submit" class="btn btn-primary">Loguear</button>
        <button type="reset" class="btn btn-warning">Limpiar</button>
      </form>
    </section>
  </section>
</main>